<%- include('inc/header.ejs') -%>
    <%- include('inc/navbar.ejs') -%>
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Data Penduduk</h1>
            </div>
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Form Edit Data Penduduk</h1>
                                </div>
                                <form class="user" method="post" action="<%= url %>penduduk/edit">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" name="nama" class="form-control form-control-user" placeholder="Masukkan Nama Lengkap" value="<%= nama %>" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="nik" class="form-control form-control-user" id="exampleLastName" placeholder="Masukkan NIK/KTP" value="<%= nik %>" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="text" name="nokk" class="form-control form-control-user" placeholder="Masukkan Nomor Kartu Keluarga" value="<%= nokk %>" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" name="email" class="form-control form-control-user" id="exampleLastName" placeholder="Masukkan E-mail" value="<%= email %>" required>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input type="number" name="hnumber" class="form-control form-control-user" placeholder="Masukan Nomor Rumah" value="<%= hnumber %>" required>
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control form-control-user" name="telp" placeholder="Masukan Nomor Telepon" value="<%= telp %>" required>
                                            <input type="hidden" value="<%= id %>" name="id">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <select name="kategori" id="">
                                    <option value="1">Novel</option>
                                        <option value="2">Komik</option>
                                </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="jenis" id="">
                                    <option value="1">Action</option>
                                    <option value="2">Fiksi</option>
                                    <option value="3">Romans</option>
                                </select>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                              Submit
                          </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include('inc/footer.ejs') -%>